*.iml
.gradle
/local.properties
.DS_Store
Thumbs.db
*.hprof

# IntelliJ/Android Studio
.idea/
!.idea/codeStyles/
!.idea/copyright/

# Kotlin
.kotlin/

# Build-Outputs
/build
/captures
.externalNativeBuild
.cxx
